@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* top navbar */
.bot-card h2 {
  margin-top: 4px;
  color: white;
}

.bot-card p {
  margin-top: 10px;
  color: white;
}

body{
  margin-top: 150px;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
}

.header{
  color: #FFA500;
}
.bot-card {
  display: inline-block;
  height: 430px;
  width: 250px;
  padding: 20px 10px;
  margin: 10px;
  border: 1px solid #FFA500;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #FFA500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 65px;
  font-size: 14px;
  font-weight: bold;
}
.btn {
  background-color: #FFA500;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  display: block;
  margin: 0 auto;
}

#phrase{
  font-size: 10px;
  font-weight: bold;
}

.bot-card:hover {
  transform: scale(1.05);
}

.bot-card img {
  border-radius: 50% ;
  width: 150px;
  height: 150px;
  object-fit: cover ;
  border: 2px solid black;
  background-color: white;
}

@import url(https://fonts.googleapis.com/css?family=Akronim);

.header{
  margin:0% ;
}
.fire {
	margin: auto;
	width: 80%;
	max-width: 1000px;
	height: 150px;

	background-position: center center;
	background-size: 1000px 200px;
	border-radius: 10px;
	font-family: 'Akronim';
	overflow: hidden;
    text-align: center;
	vertical-align: middle;

}
.fire:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.Blazing {
	display: inline-block;
	margin: 0;
  margin-top: 0px;

    /* color: rgb(255, 115, 0); */
    font-size: 100px;
	line-height: 50px;
	min-width: 50px;
	outline: none;
	vertical-align: middle;
    
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}


